[Unit]
Description=grafana container used by Smart Boiler controller
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a grafana
ExecStop=/usr/bin/docker stop -t 10 grafana

[Install]
WantedBy=multi-user.target