[Unit]
Description=influxdb container used by Smart Boiler controller
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a influxdb
ExecStop=/usr/bin/docker stop -t 10 influxdb

[Install]
WantedBy=multi-user.target