[Unit]
Description=Contreoll algorithm-service Service used by Smart Boiler controller
After=syslog.target

[Service]
Type=simple
User=server
Restart=always
WorkingDirectory=/home/smart_boiler
ExecStart=/usr/bin/python3 /home/smart_boiler/ControllAlgorithm/smartBoiler.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target